.login {
  color: #ffffff;
  display: table-cell;
  cursor: pointer;
}
#show {
  display: none;
}
#show:checked ~ .content {
  display: table-caption;
}

#show:checked ~ .logLabel {
  display: none;
}
.content {
  display: none;
}
